<h1>Hello World! <%= @user.name %></h1>

<div class="row">
  <div class="col-md-3 col-12 d-none d-md-block">
    <div class="card p-2">
      <% unless current_user.avatar.nil? %>
        <%= image_tag current_user.avatar.variant(resize: "128x128!"), class: "rounded-circle m-4" %>
      <% end %>
      <%#= image_tag current_user.avatar.url, class: 'card-img-top rounded-circle' %>
      <div class="card-body">
        <h4 class="card-tittle"><%= "@#{@user.name}" %></h4>
        <p class="card-text">
          <span class="text-secondary">用户信息</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-12">
    <%= render partial: "post", collection: @posts %>
  </div>
</div>